@import "../../../color";
.even ul {
    list-style: none;
    padding: 17px 22px;
    li {
      display: flex;
      color: $primary;
      font-family: "Open Sans";
      font-size: 14px;
      line-height: 19px;
      padding: 15px 0px;
    
      &:last-child {
        border-bottom: 0px;
        padding-bottom: 0px;
      }
    }
  }