.card-list {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 0 9%;
  ul {
    list-style: none;
    flex-grow: 1;
    flex-basis: 0;
    li {
      margin: 18px 6px;
    }
  }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .card-list {
    .last-List {
      display: flex;
      flex-wrap: wrap;
      .second{
        order: 2;
      }
      .third{
        order: 1;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .card-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0 2% !important;
    ul {
      list-style: none;
      flex-grow: 1;
      flex-basis: 0;
      // width: 100%;
      li {
        padding-left: 20px;
      }
    }
  }
}
