@import './color';
@import './common';
@import './fonts';
* {
  font-family: 'Open Sans';
}

html,
body,
ul,
ol,
div,
p {
  margin: 0;
  padding: 0;
}

input,
  textarea {
    border: solid 1px $cardborder ;
    height: 30px;
    flex-grow: 1;
    border: 0px;
    color: $primary;
    font-size: 14px;
    &:focus {
      border: 0px;
      outline: 0;
    }
  }

  textarea {
    border: solid 1px $cardborder !important;
    height: 150px;
  }


